html {
  margin: 0px;
  height: 100%;
  width: 100%;
}

body {
  margin: 0px;
  min-height: 100%;
  width: 100%;
  color: white;
  background-color: black;
}

.App {
  margin: 30px;
  padding: 0;  
  border: 0
}

.Board {
  width: auto;
  float: left;
}

.Square {
  display: inline-block;
  overflow: hidden;
  height: 30px;
  width: 30px;
  border: 1px solid;
  text-align: center;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}